<main class="login">
  <mat-card>
    <h1>Globill Admin</h1>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
      </mat-form-field>

      <button mat-flat-button type="submit">
        Sign in
      </button>
    </form>
  </mat-card>
</main>
