<mat-sidenav-container class="shell">
  <mat-sidenav mode="side" opened>
    <div class="brand">
      Globill
    </div>

    <a mat-button routerLink="/dashboard">
      <mat-icon>dashboard</mat-icon>
      Dashboard
    </a>

    <a mat-button routerLink="/providers">
      <mat-icon>local_hospital</mat-icon>
      Providers
    </a>

    <a mat-button routerLink="/websites">
      <mat-icon>language</mat-icon>
      Websites
    </a>

    <a mat-button routerLink="/pages">
      <mat-icon>article</mat-icon>
      Pages
    </a>

    <a mat-button routerLink="/services">
      <mat-icon>medical_services</mat-icon>
      Services
    </a>

    <a mat-button routerLink="/doctors">
      <mat-icon>badge</mat-icon>
      Doctors
    </a>

    <a mat-button routerLink="/locations">
      <mat-icon>place</mat-icon>
      Locations
    </a>

    <a mat-button routerLink="/appointment-leads">
      <mat-icon>assignment</mat-icon>
      Appointment Leads
    </a>

    <a mat-button routerLink="/seo">
      <mat-icon>manage_search</mat-icon>
      SEO
    </a>

    <a mat-button routerLink="/audit">
      <mat-icon>history</mat-icon>
      Audit Logs
    </a>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <span>Healthcare Website CRM</span>
    </mat-toolbar>

    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>
